body {
    font-family: sans-serif;
    text-align: center;
  }
  
  #drawCanvas {
    border: 1px solid black;
    display: block;
    margin-right: 30px;
    margin-top: 20px;
  }
  #drawCanvas.deplacer {
    cursor: move;
  }
  #drawCanvas.fill {
    cursor: url("./fill.png"),pointer;
  }
  #drawCanvas.remove {
    cursor: url("./gomme.png"),pointer;
  }
  #drawCanvas.rotate {
    cursor: url("./rotate.png"),pointer;
  }
  .aaa{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }
  .color-field:first-child{
    border: 2px solid black;
  }
 .color-field {
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-self: center;
    border: 2px solid white;
    margin: 10px 0;
}
